
body {

	font-size: 2em;
	font-family: Josefin Sans;
	color: white;
	background: url(img/backgroundpage4.jpg) no-repeat center center fixed;
	background-size: cover;


}

a {
	color: white;
}


#c_navbar {

	background: rgba(0, 0, 0, 0.8);
}

#c_navbar li {

	list-style: none;
	display: inline;
	padding: 10px;
	margin: 0;
	text-align:center;


}

#c_navbar ul{

	border: 5px solid #99de68;
	border-radius: 5px;
	padding: 20px;
	margin-top: 130px;
	text-align: center;

}

#c_météo {

	margin-top: 90px;
}



#c_tarif-container {

	border: 5px solid #99de68;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin-bottom: 70px;
	color: white;
}

#c_infoloc {

	text-align: justify;
	margin-top: 20px;
}

ul {

	list-style-type: none;
}

h3 {

	Font-Weight: Bold;
}

#c_liencontainer {

	border: 5px solid #99de68;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
}



#c_lien {

	text-align: center;
	margin: 10px;
}


#c_img3 {

	margin-top: 50px;

}

#c_copyright {

	padding: 30px;
}
#c_copyright p {

	text-align: center;
	color : black;
}

input {

	color: black;
}

textarea {

	border-radius: 5px;
}

#c_mobile {

	display: none;
}
#c_tarif_mobile {
	display: none;
}
#c_footer_mobile {
	display: none;
}
#c_copyright_m{
	display: none;
}



/*Mobile version*/
@media screen and (max-width: 768px) {


	#c_desktop  {

		display: none;
	}

	#c_tarif {

		display: none;
	}

	#footer_desktop {

		display: none;
	}


	#c_mobile {

		display: block;
	}
	
	#c_météo_mobile {

		text-align: center;
	}

	#c_tarif_mobile {
		
		display: block;
		border: 5px solid #99de68;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.8);
		margin : 10px;
	}
	
	#c_tarif_mobile p {

		font-size: 0.7em;
		text-align: justify;
		margin: 10px;
	}

	#c_footer_mobile {

		display: block;
		border: 5px solid #99de68;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.8);
		margin : 10px;

	}

	#c_footer_mobile h4 {
		text-align: center;
		font-size: 0.8em;
		margin: 10px;
	}
	
	#c_formualire h4 {
		text-decoration: underline;
	}

	#c_formualire {
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}

	input {
		margin-bottom: 30px;
	}
}

/*Tablette portrait*/
@media screen and (max-width: 992px) {

	#c_logomobile {

		margin-right: auto;
		margin-left: auto;
		width : 700px;
	}
 	
 	#c_desktop  {

		display: none;
	}

	#c_tarif {

		display: none;
	}

	#footer_desktop {

		display: none;
	}


	#c_mobile {

		display: block;
	}
	
	#c_météo_mobile {

		text-align: center;
	}

	#c_tarif_mobile {
		
		display: block;
		border: 5px solid #99de68;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.8);
		margin : 10px;
	}
	
	#c_tarif_mobile p {

		font-size: 0.7em;
		text-align: justify;
		margin: 10px;
	}

	#c_footer_mobile {

		display: block;
		border: 5px solid #99de68;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.8);
		margin : 10px;

	}

	#c_footer_mobile h4 {
		text-align: center;
		font-size: 0.8em;
		margin: 10px;
	}
	
	#c_formualire h4 {
		text-decoration: underline;
	}
}	

