#titre {

	text-align: center;
	border: 2px solid white;
}

#add_actu {

	text-align: center;
}

#logo
{
	height: 350px;
	width: 400px;
	margin-top: -50px;
}

#head
{
	margin-top: -11%;
}

body
{
	background-image: url(img/VTT-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 22px;
	font-family: Josefin Sans;
}

a 
{

	color: white;
}

footer
{
	border: 5px solid #99de68;
	border-radius: 5px;
	background-color: black;
	color: white;
	opacity: 0.7;
	font-size: 22px;
	width: 14.5%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 80%;
	text-align: center;
	
	
}
label {
	color: white;
	opacity: 1;
}


form
{
	color: black;
}

input
{
	margin: 10px;
	color: black;
}

textarea
{
	margin: 10px;
}

h3
{
	text-decoration: underline;
	font-size: 22px;
}


#head
{
	border: 5px solid #99de68;
	border-radius: 5px;
	margin-top: -80px;
	margin-left: 15px;
	margin-right: -5px;
	padding: 10px;
	background-color: black;
	color: white;
	opacity: 0.7;
	font-size: 20px;
}

.container_custom

{
	height: 100vh;
	width: 100%;
	padding-right: 0;
	padding-left: 20;

}

.s_onglet
{
	border: 5px solid #99de68;
	border-radius: 5px;
	color: white;
	opacity: 0.8;
	background-color: black;
	margin-top: 15px;
	width: 30%;
	position: absolute;
	top: 37%;
	left: 40%;
}

#s_place1
{
	margin-top: -250px;
	overflow: scroll;
	height: 250px;
	padding-left: 20px;
	padding-right: 20px;
}

#s_place2
{
	height: 250px;
	padding-left: 15px;
}

#s_place3
{
	height: 250px;
	padding-left: 15px;
	margin-top: 275px;
}

#news
{
	color: white;
	font-size: 16px;
}

.meteo
{
	position: absolute;
	top: 0px;
	left: -170px;
}

iframe
{
	position: absolute;
	top: 375px;
	left: 200px;
}

.email, #question
{
	width: 80%;
}


nav
{
	background-color: black;
	opacity: 0.8;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}



@media screen and (min-width: 992px) and (max-width: 1200px)
{
	#head
	{
		width: 115%;
	}

	#s_place1
	{
		position: absolute;
		left: 42.5%;
	}

	#s_place2
	{
		position: absolute;
		left: 42.5%;
	}

	#s_place3
	{
		position: absolute;
		left: 42.5%;
	}
}




@media screen and (min-width: 768px) and (max-width: 992px)
{

	.meteo, iframe
	{
		display: none;
	}

	#head
	{
		width: 150%;
		position: absolute;
		top: -180px;
		left: 350px;
	}

	#s_place1
	{
		position: absolute;
		top: 450px;
		width: 51%;
		height: 35%;
	}

	#s_place2
	{
		position: absolute;
		top: 250px;
		left: 15px;
		width: 37%;
		height: 35%;
	}

	#s_place3
	{
		position: absolute;
		top: 325px;
		left: 15px;
		width: 37%;
		height: 35%;
	}

	footer
	{
		position: absolute;
		top: 550px;
		left: 380px;
		width: 51%;
		height: 40.5%
	}


}

@media screen and (max-width: 768px)
{
	#logo
	{
		position: absolute;
		top: 30px;
		left: 18%;
	}

	#head
	{
		position: absolute;
		top: 330px;
		left: 70%;
		width: 300px;
	}

	.meteo, iframe
	{
		display: none;
	}

	.s_onglet
	{
		width: 30%;
		position: absolute;
		top: 700px;
		left: 8%;
		width: 50%;
	}

	footer
	{
		width: 30%;
		position: absolute;
		top: 450px;
		left: 62%;
		text-align: center;
		overflow: auto;
	}



}
